@model codenow_park.Dominio.Models.Vaga

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="EstacionamentoId" class="control-label"></label>
                @*<input asp-for="EstacionamentoId" class="form-control" />*@
                <select asp-for="EstacionamentoId" class="form-control" asp-items="@ViewBag.Estacionamento"></select>
                <span asp-validation-for="EstacionamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                @*<input asp-for="VeiculoId" class="form-control" />*@
                <select asp-for="VeiculoId" class="form-control" asp-items="@ViewBag.Veiculos"></select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="Entrada" class="control-label"></label>
                <input asp-for="Entrada" class="form-control" />
                <span asp-validation-for="Entrada" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ocupado" /> @Html.DisplayNameFor(model => model.Ocupado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HorasEstacionado" class="control-label"></label>
                <input asp-for="HorasEstacionado" class="form-control" />
                <span asp-validation-for="HorasEstacionado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPagar" class="control-label"></label>
                <input asp-for="ValorPagar" class="form-control" />
                <span asp-validation-for="ValorPagar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPago" class="control-label"></label>
                <input asp-for="ValorPago" class="form-control" />
                <span asp-validation-for="ValorPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Vagas">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
