@model codenow_park.Dominio.Models.Vaga

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EstacionamentoId" class="control-label"></label>
                <input asp-for="EstacionamentoId" class="form-control"></input>
                @*<select asp-for="EstacionamentoId" class="form-control" asp-items="@ViewBag.Estacionamentos"></select>*@
                @*<select asp-for="EstacionamentoId" class="form-control" asp-items="ViewBag.EstacionamentoId"></select>*@
                <span asp-validation-for="EstacionamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class="form-control" asp-items="@ViewBag.Veiculos"></select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrada" class="control-label"></label>
                <input asp-for="Entrada" class="form-control" />
                <span asp-validation-for="Entrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saida" class="control-label"></label>
                <input asp-for="Saida" class="form-control" />
                <span asp-validation-for="Saida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoEstacionado" class="control-label"></label>
                <input asp-for="TempoEstacionado" class="form-control" />
                <span asp-validation-for="TempoEstacionado" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ocupado" /> @Html.DisplayNameFor(model => model.Ocupado)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlteracao" class="control-label"></label>
                <input asp-for="DataAlteracao" class="form-control" />
                <span asp-validation-for="DataAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
