
Code Now\!/codenow-park/.vs/ProjectEvaluation/codenow-park.metadata.v5.1
Code Now\!/codenow-park/.vs/ProjectEvaluation/codenow-park.metadata.v5.1
Code Now\!/codenow-park/.vs/codenow-park/DesignTimeBuild/.dtbcache.v2
Code Now\!/codenow-park/.vs/codenow-park/v17/.futdcache.v2
Code Now\!/codenow-park/.vs/codenow-park/v17/.suo
Code Now\!/codenow-park/codenow-park.Dominio/obj/Debug/net6.0/codenow-park.dominio.assets.cache
Code Now\!/codenow-park/codenow-park.Dominio/obj/Debug/net6.0/codenow-park.Dominio.csproj.AssemblyReference.cache
Code Now\!/codenow-park/codenow-park.Dominio/obj/Debug/net6.0/codenow-park.Dominio.csproj.CoreCompileInputs.cache
Code Now\!/codenow-park/codenow-park.Dominio/obj/project.nuget.cache
Code Now\!/codenow-park/codenow-park.Dominio/obj/project.nuget.cache
Code Now\!/codenow-park/codenow-park.Max/obj/Debug/net6.0/codenow-park.Max.csproj.AssemblyReference.cache
Code Now\!/codenow-park/codenow-park.Tests/obj/Debug/net6.0/codenow-park.Tests.pdb
*.v2
*.v2
*.pdb
*.cache
*.pdb
*.cache
*.cache
Code Now\!/codenow-park/.vs/codenow-park/v17/.suo
