@{
    ViewData["Title"] = "Privacidade no Sistema";
}
<h1>@ViewData["Title"]</h1>
<h2>Sistema de Estacionamento CodeNow!</h2>
<h3>Página de Políticas</h3>
<h5>Informações</h5>
<p>Não se preocupe. Esse é um site seguro.</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item" >Site limpo</li>
    <li class="list-group-item" >Site Seguro</li>
    <li class="list-group-item" >Site Rápido</li>
    <li class="list-group-item" >Site Confortável</li>
</ul>




