@model codenow_park.Dominio.Models.Estacionamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Estacionamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoInicial" class="control-label"></label>
                <input asp-for="PrecoInicial" class="form-control" />
                <span asp-validation-for="PrecoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoHora" class="control-label"></label>
                <input asp-for="PrecoHora" class="form-control" />
                <span asp-validation-for="PrecoHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VagasTotais" class="control-label"></label>
                <input asp-for="VagasTotais" class="form-control" />
                <span asp-validation-for="VagasTotais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlteracao" class="control-label"></label>
                <input asp-for="DataAlteracao" class="form-control" />
                <span asp-validation-for="DataAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
